:root {
    --accent-color: #ff4700;
    --background-accent-color: rgb(255, 237, 222);
    --accent-color-light: rgb(255, 188, 157);
    --font-color: black;
    --font-color-negative: white;
    --background-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #e65c00;
        --background-accent-color: rgb(20, 20, 20);
        --accent-color-light: rgb(158, 41, 20);

        --font-color: rgb(231, 231, 231);
        --font-color-negative: black;
        --background-color: black;
        --a-color: lightblue;
    }

    a {
        color: var(--a-color)
    }
}

:root {
    color: var(--font-color);

}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
    min-height: 80%;
}



/* .content {
    min-height: 80%;
} */

h1 {
    margin: 0.2em 0;
}

.torrent_name {
    word-wrap: break-word;
}


.Bytes {
    background-color: white;
    color: black;
}

.KB {
    background-color: lightgreen;
    color: black;
}

.MB {
    background-color: rgb(78, 201, 78);
    color: black;
}

.GB {
    background-color: rgb(255, 230, 0);
    color: black;
}

.TB {
    background-color: blueviolet;
}

.PB {
    background-color: red;
}

.EB {
    background-color: blue;
}

.YB {
    background-color: black;
}